@charset "utf-8";

@import "font-famaly.scss";
@import "base.scss";

#toTopButton {
	display: none;
	position: fixed;
	width: 50px;
	height: 50px;
	line-height: 50px;
	bottom: 20px;
	left: 30px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 50px;
	background-color: rgba(43, 137, 214, .7);
	z-index: 99999999;
	transition: ease-in-out .5s;
	&:hover {
		background-color: rgba(43, 137, 214, 1);
	}
	&:focus {
		background-color: rgba(43, 137, 214, 1);
	}
	&:active {
		padding: 0;
		background: rgba(43, 137, 214, .7);
	}
}



.slicknav_menu {
	display: none !important;
	width: inherit !important;
}
.boxed-btn {
	display: inline-block;
	padding: 15px 40px;
	border-radius: 25px;
	text-transform: uppercase;
	margin-top: 10px;
	background-color: #558AF2;
	color: #fff;
	transition: 0.5s ease-in;

	&:hover {
		color: #fff;
		background-color: #404550;
	}
}
input[type=text],
input[type=email],
input[type=password],
textarea {
	max-width: 468px;
	width: 100%;
	display: block;
	padding: 12px 14px;
	border-radius: 4px !important;
	border: 1px solid rgba(34, 46, 58, 0.2) !important;
	background: #FFF;
	transition: all 0.5s;

	&:focus {
		border-color: rgba($color: $color-blue, $alpha: .5) !important;
	}

	&:hover {
		border: 1px solid $color-blue !important;
	}
}
button:hover {
	cursor: pointer;
}

button[type="submit"] {
	padding: 12px 20px;
	border-radius: 4px !important;
	border: 1px solid rgba(34, 46, 58, 0.2) !important;
	background: #FFF;
	transition: all 0.5s;

	&:hover {
		border: 1px solid rgba($color: $color-blue, $alpha: .5) !important;
	}
}

textarea {
	padding: 10px 20px;
	margin-bottom: 20px;
	width: 100%;
	min-height: 150px;
	height: auto;
	border-radius: 5px;

	&:focus {
		outline: none;
	}
}
h1, h2, h3, h4, h5, h6 {
	color: $color-title !important;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font-family: "Poppins", 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	color: #404550;
	overflow-x: hidden;
}
p {
	color: #343a40;
	font-weight: 300;
	line-height: 1.625;
}
a {
	text-decoration: none;
	outline: none;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		outline: none;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
	&:active {
		text-decoration: none;
		outline: none;
	}
	i {
		padding: 0 2px;
	}
}
img {
	max-width: 100%;
}
input[type="text"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="email"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="url"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="password"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="search"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="tel"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="number"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="button"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="reset"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
input[type="submit"] {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
select {
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
button {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	&:focus {
		outline: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.navbar-area {
	height: 80px;
	padding-top: 5px;
    background-color: #404550;
    
	.logo {
		display: block;
        max-width: 200px;
        width: 60px !important;
        height: 60px !important;
		margin-top: 10px;
	}
	ul {
        padding-top: 5px;
        
		li {
			display: inline-block;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;
			transition: 0.5s ease-in;
			border-radius: 25px;
			&:hover {
				a {
					background-color: #558AF2;
					-webkit-transition: 0.5s ease-in;
					-moz-transition: 0.5s ease-in;
					-o-transition: 0.5s ease-in;
					transition: 0.5s ease-in;
				}
			}
			a {
				color: #fff;
				text-transform: uppercase;
				display: inline-block;
				padding: 10px 20px;
				border-radius: 25px;
			}
		}
		li.active {
			background-color: #558AF2;
		}
	}
}
.about-us {
	padding: 120px 0;
	.about-img {
		position: relative;
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(51, 51, 102, 0.9);
			content: '';
		}
		.hover {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #558AF2;
			z-index: 1;
			text-align: center;
			line-height: 80px;
			font-size: 25px;
			-webkit-box-shadow: 0 0 5px #558AF2;
			box-shadow: 0 0 5px #558AF2;
			cursor: pointer;
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			i {
				color: #fff;
			}
		}
	}
	.content {
		h2 {
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 10px;
			span {
				color: #558AF2;
			}
		}
	}
}
.our-team-area {
	padding-top: 107px;
	padding-bottom: 120px;
	background-color: #404550;
	.section-title {
		h2 {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
	.single-team-member {
		&:hover {
			.team_img {
				.hover {
					visibility: visible;
					opacity: 1;
					-ms-transform: translateX(-20px);
					-webkit-transform: translateX(-20px);
					transform: translateX(-20px);
				}
			}
		}
		.team-content {
			background-color: #558AF2;
			text-align: center;
			padding: 26px 0;
			padding-bottom: 24px;
			h4 {
				text-transform: uppercase;
				margin-bottom: 10px;
				color: #fff;
			}
			span {
				color: #fff;
			}
		}
		.team_img {
			position: relative;
			.hover {
				position: absolute;
				right: 0px;
				top: 0;
				visibility: hidden;
				opacity: 0;
				-webkit-transition: 0.5s ease-in;
				-moz-transition: 0.5s ease-in;
				-o-transition: 0.5s ease-in;
				transition: 0.5s ease-in;
				.social {
					padding: 20px 10px;
					background-color: #558AF2;
					text-align: center;
					border-bottom-left-radius: 25px;
					border-bottom-right-radius: 25px;
					li {
						display: block;
						padding: 5px 0;
						&:hover {
							a {
								color: #404550;
							}
						}
						a {
							color: #fff;
							-webkit-transition: 0.5s ease-in;
							-moz-transition: 0.5s ease-in;
							-o-transition: 0.5s ease-in;
							transition: 0.5s ease-in;
						}
					}
				}
			}
		}
	}
}
.testimonial-area {
	padding-top: 107px;
	padding-bottom: 167px;
	.testimonial-carousel {
		.single-testimonial-carousel {
			border: 1px solid rgba(101, 99, 99, 0.1);
			-webkit-box-shadow: inset 0 0 5px rgba(101, 99, 99, 0.1);
			-moz-box-shadow: inset 0 0 5px rgba(101, 99, 99, 0.1);
			box-shadow: inset 0 0 5px rgba(101, 99, 99, 0.1);
			border-radius: 25px;
			padding: 20px;
			.author-details {
				position: relative;
				&:after {
					position: absolute;
					right: 20px;
					top: 0;
					font-size: 40px;
					content: "\f10e";
					font-family: 'FontAwesome';
					color: #404550;
					opacity: .2;
				}
				.autor-name {
					padding-left: 90px;
					h4 {
						text-transform: uppercase;
						margin-bottom: 10px;
					}
					span {
						opacity: .6;
					}
				}
				.thumbnai {
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					img {
						border-radius: 50%;
						border: 2px solid #558AF2;
					}
				}
			}
		}
	}
	.owl-dots {
		div.active {
			background: #558AF2;
			border-color: #558AF2;
		}
		text-align: center;
		margin-top: 25px;
		position: absolute;
		left: 50%;
		bottom: -55px;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		div {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			background: #fff;
			border: 2px solid #404550;
			display: inline-block;
			margin: 2px;
		}
	}
}
.blog-section {
	padding-top: 107px;
	padding-bottom: 120px;
	background-color: #E6E6E9;
	.single-blog-post {
		border-radius: 5px;
		-webkit-box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
		-moz-box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
		box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
		.boxed-btn {
			padding: 10px 25px;
			background-color: #F0F3F6;
			color: #404550;
			font-weight: 600;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;
			transition: 0.5s ease-in;
			&:hover {
				background-color: #558AF2;
				color: #fff;
			}
		}
		.thumb {
			position: relative;
			img {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom: 3px solid #558AF2;
			}
			.hover {
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #558AF2;
				width: 60px;
				height: 65px;
				text-align: center;
				border-top-right-radius: 10px;
				span {
					font-size: 25px;
					font-weight: 600;
					color: #fff;
					margin-bottom: 0;
					display: block;
					&:last-child {
						font-size: 16px;
					}
				}
			}
		}
		.content {
			padding: 30px;
			background-color: #fff;
			padding-top: 23px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			h4 {
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.post-meta {
				padding-bottom: 20px;
				li {
					display: inline-block;
					padding-right: 10px;
					color: #404550;
					opacity: .6;
					a {
						&:hover {
							color: #404550;
						}
					}
				}
			}
		}
	}
}
.contact-section {
	width: 100%;
	z-index: 1;
	padding-top: 120px;
	padding-bottom: 143px;
	min-height: 900px;
	background: #000;
	
	.contact-form-wrapper {
		border-radius: 15px;
		position: relative;
		padding: 60px;
		background-color: rgba(240, 243, 246, 0.7);
		
		h2 {
			margin-bottom: 45px;
			
			span {
				color: #558AF2;
			}
		}
		input {
			border-radius: 25px;
			background-color: rgba(240, 243, 246, 0.7);
			border: 1px solid #558AF2;
		}
		textarea {
			border-radius: 25px;
			background-color: rgba(240, 243, 246, 0.7);
			border: 1px solid #558AF2;
		}
		input[type=submit] {
			position: absolute;
			left: 50%;
			bottom: -23px;
			background-color: #558AF2;
			width: 150px;
			-ms-transform: translate(-50%);
			-webkit-transform: translate(-50%);
			transform: translate(-50%);
			cursor: pointer;
			&:hover {
				background-color: #404550;
				border-color: #404550;
			}
		}
	}
}
.contact-section.contact-bg {
	background-color: #ddd;
	background-position: center;
	background-size: cover;
}
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99;
	display: table;
}
.preloader-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.preloader-img {
	position: relative;
	display: inline-block;
	padding: 20px;
	border-radius: 50%;
	&:before {
		position: absolute;
		left: 0%;
		top: 0%;
		width: 100%;
		height: 100%;
		content: '';
		border-radius: 50%;
		-webkit-animation: rotating 2s linear infinite;
		animation: rotating 2s linear infinite;
	}
	img {
		-webkit-animation: rotatingTWo 2s linear infinite;
		animation: rotatingTWo 2s linear infinite;
	}
}
.blog-page-area {
	padding-top: 120px;
	padding-bottom: 120px;
	.single-blog-post {
		border-radius: 5px;
		-webkit-box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
		-moz-box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
		box-shadow: 0 0 13px rgba(101, 99, 99, 0.7);
		margin-bottom: 30px;
		.boxed-btn {
			padding: 10px 25px;
			background-color: #F0F3F6;
			color: #404550;
			font-weight: 600;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;
			transition: 0.5s ease-in;
			&:hover {
				background-color: #558AF2;
				color: #fff;
			}
		}
		.thumb {
			position: relative;
			img {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				border-bottom: 3px solid #558AF2;
			}
			.hover {
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #558AF2;
				width: 60px;
				height: 65px;
				text-align: center;
				border-top-right-radius: 10px;
				span {
					font-size: 25px;
					font-weight: 600;
					color: #fff;
					margin-bottom: 0;
					display: block;
					&:last-child {
						font-size: 16px;
					}
				}
			}
		}
		.content {
			padding: 30px;
			background-color: #fff;
			padding-top: 23px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			h4 {
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.post-meta {
				padding-bottom: 20px;
				li {
					display: inline-block;
					padding-right: 10px;
					color: #404550;
					opacity: .6;
					a {
						&:hover {
							color: #404550;
						}
					}
				}
			}
		}
	}
	.page-navigation {
		margin-top: 30px;
		li {
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-weight: 600;
			border: 1px solid #ddd;
			margin-left: -5px;
			cursor: pointer;
			-webkit-transition: 0.5s ease-in;
			-moz-transition: 0.5s ease-in;
			-o-transition: 0.5s ease-in;
			transition: 0.5s ease-in;
			&:first-child {
				border-top-left-radius: 25px;
				border-bottom-left-radius: 25px;
			}
			&:last-child {
				border-top-right-radius: 25px;
				border-bottom-right-radius: 25px;
				border-bottom-right-radius: 25px;
			}
			a {
				color: #404550;
				-webkit-transition: 0.5s ease-in;
				-moz-transition: 0.5s ease-in;
				-o-transition: 0.5s ease-in;
				transition: 0.5s ease-in;
			}
			&:hover {
				background-color: #558AF2;
				background-color: #558AF2;
				a {
					color: #fff;
				}
			}
		}
		li.active {
			background-color: #558AF2;
			a {
				color: #fff;
			}
		}
	}
}
.sidebar {
	padding-bottom: 90px;
	.widget {
		border: 1px solid #f1f1f1;
		margin-bottom: 30px;
		.widget-title {
			background-color: #404550;
			padding: 20px;
			h4 {
				margin-bottom: 0;
				text-transform: uppercase;
				color: #fff;
			}
		}
		.widget-body {
			padding: 20px;
			padding-top: 30px;
			padding-bottom: 30px;
			li {
				padding: 10px 0;
				border-top: 1px solid #f1f1f1;
				-webkit-transition: 0.5s ease-in;
				-moz-transition: 0.5s ease-in;
				-o-transition: 0.5s ease-in;
				transition: 0.5s ease-in;
				&:last-child {
					border-bottom: 1px solid #f1f1f1;
				}
				a {
					-webkit-transition: 0.5s ease-in;
					-moz-transition: 0.5s ease-in;
					-o-transition: 0.5s ease-in;
					transition: 0.5s ease-in;
				}
				i {
					padding-right: 10px;
					-webkit-transition: 0.5s ease-in;
					-moz-transition: 0.5s ease-in;
					-o-transition: 0.5s ease-in;
					transition: 0.5s ease-in;
				}
				&:hover {
					background-color: #558AF2;
					margin-left: 10px;
					a {
						color: #fff;
					}
					i {
						color: #fff;
					}
				}
			}
		}
	}
	.widget.category {
		.widget-body {
			li {
				span {
					float: right;
					display: inline-block;
					width: 25px;
					height: 25px;
					background-color: #ddd;
					line-height: 20px;
					border-radius: 50%;
					color: #404550;
					margin-right: 10px;
				}
			}
		}
	}
	.widget.search {
		.widget-body {
			input {
				border: 1px solid #ddd;
				border-right: 0;
				border-top-left-radius: 25px;
				border-bottom-left-radius: 25px;
				&:focus {
					outline: none;
					border: 1px solid #ddd;
					-webkit-box-shadow: 0 0 0px #fff;
					box-shadow: 0 0 0px #fff;
				}
			}
			button[type=submit] {
				padding: 10px 15px;
				background-color: #558AF2;
				border: 1px solid transparent;
				border-top-right-radius: 25px;
				border-bottom-right-radius: 25px;
				-webkit-transition: 0.5s ease-in;
				-moz-transition: 0.5s ease-in;
				-o-transition: 0.5s ease-in;
				transition: 0.5s ease-in;
				padding-top: 12px;
				&:hover {
					background-color: #404550;
				}
				i {
					padding-top: 5px;
					font-size: 23px;
					line-height: 100%;
				}
			}
		}
	}
	.widget.popular-post {
		.widget-body {
			padding-bottom: 24px;
			li {
				border: none;
				padding: 0;
				padding-bottom: 6px;
				&:hover {
					h5 {
						color: #558AF2;
					}
					background-color: transparent;
					margin-left: 0;
				}
				h5 {
					cursor: pointer;
					-webkit-transition: 0.5s ease-in;
					-moz-transition: 0.5s ease-in;
					-o-transition: 0.5s ease-in;
					transition: 0.5s ease-in;
					text-transform: uppercase;
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
	.widget.tags {
		.widget-body {
			padding-top: 25px;
			padding-bottom: 25px;
			li {
				display: inline-block;
				border: none;
				padding: 10px;
				margin: 5px;
				background-color: #558AF2;
				-webkit-transition: 0.5s ease-in;
				-moz-transition: 0.5s ease-in;
				-o-transition: 0.5s ease-in;
				transition: 0.5s ease-in;
				&:hover {
					background-color: #404550;
				}
				&:last-child {
					border: none;
				}
				a {
					color: #fff;
					text-transform: uppercase;
				}
			}
		}
	}
}
.blog-single-page {
	.content {
		padding-bottom: 31px;
		padding-right: 20px;
		h4 {
			margin-top: 24px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.post-meta {
			padding-bottom: 17px;
			li {
				display: inline-block;
				padding-right: 10px;
				a {
					text-transform: uppercase;
					color: #558AF2;
				}
				i {
					color: #ccc;
				}
			}
		}
		.blockquote {
			border-left: 3px solid #558AF2;
			padding-left: 20px;
			font-style: italic;
			color: #ccc;
			.blockquote-footer {
				padding-top: 22px;
			}
		}
	}
	.social-share {
		padding: 20px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin-bottom: 48px;
		h4 {
			display: inline-block;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		ul {
			display: inline-block;
			li {
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				background-color: #558AF2;
				text-align: center;
				border-radius: 50%;
				-webkit-transition: 0.5s ease-in;
				-moz-transition: 0.5s ease-in;
				-o-transition: 0.5s ease-in;
				transition: 0.5s ease-in;
				margin-left: 10px;
				&:hover {
					opacity: .7;
				}
				&:first-child {
					background-color: #3b5999;
				}
				&:nth-child(2) {
					background-color: #55acee;
				}
				&:nth-child(3) {
					background-color: #dd4b39;
				}
				&:nth-child(4) {
					background-color: #0077B5;
				}
				&:last-child {
					background-color: #bd081c;
				}
				a {
					color: #fff;
				}
			}
		}
	}
}
.comments-section {
	h2 {
		margin-top: 0;
		text-transform: uppercase;
	}
	.single-comment-item {
		h5 {
			margin-bottom: 10px;
			a {
				border: 1px solid #ddd;
				font-weight: 400;
				padding: 5px 10px;
				text-transform: capitalize;
				border-radius: 5px;
			}
		}
		.comment-time {
			display: block;
			font-size: 14px;
			i {
				color: #ccc;
			}
		}
		p {
			padding-top: 18px;
		}
	}
}
.comment-form {
	padding-top: 20px;
	h2 {
		text-transform: uppercase;
	}
	input {
		border: 1px solid #ddd;
	}
	textarea {
		border: 1px solid #ddd;
	}
	input[type=submit] {
		margin-top: 15px;
		cursor: pointer;
		border: none;
		border-radius: 5px;
		width: 150px;
		text-transform: uppercase;
		-webkit-transition: 0.5s ease-in;
		-moz-transition: 0.5s ease-in;
		-o-transition: 0.5s ease-in;
		transition: 0.5s ease-in;
		&:hover {
			background-color: #404550;
		}
	}
}
.header-area {
	padding: 100px 0;
	position: relative;
	z-index: 1;
	.header-right-content {
		#clockdiv {
			font-family: sans-serif;
			color: #fff;
			display: inline-block;
			font-weight: 100;
			text-align: center;
			font-size: 30px;
			>div {
				padding: 10px;
				border-radius: 3px;
				background: #558AF2;
				display: inline-block;
			}
			div {
				>span {
					padding: 15px;
					border-radius: 3px;
					background: rgba(64, 69, 80, 0.9);
					display: inline-block;
				}
			}
		}
		.smalltext {
			padding-top: 5px;
			font-size: 16px;
		}
	}
}
.header-right-content {
	background: rgba(64, 69, 80, 0.9);
	padding: 20px;
	border-left: 4px solid #558AF2;
	color: #fff !important;
	h1 {
		background: transparent;
		border: none;
	}
}
.whitecolor {
	color: #fff;
}
.table-dark {
	background-color: #404550;
}
.road-2-map {
	position: relative;
	z-index: 1;
	padding-top: 108px;
	padding-bottom: 110px;
	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .8;
		z-index: -1;
	}
	.section-title {

		h2 {
			color: $color-title;
		}
		p {
			color: #fff;
		}
	}
}
.road-2-map.road-map-bg {
	background-size: cover;
	background-position: center;
}
.boxed-btn.white.animated-btn {
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		background-color: #336699;
		animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	}
}
.header-right-content.full-border {
	border: 4px solid #f00;
	border-radius: 5px;
}
.progress {
	background-color: #ddd;
	box-shadow: none;
}



/* MOD */

.mb-30 {
	margin-bottom: 30px;
}
.mb-100 {
	margin-bottom: 100px;
}
.top-200 {
    padding-top: 200px !important;
}
.top-300 {
    padding-top: 300px !important;
}
.top-400 {
    padding-top: 400px !important;
}

.site-header {
    position: fixed;
    width: 100%;
    min-height: 100px;
	height: auto;
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	background: -webkit-linear-gradient(top, rgba(50, 94, 125, 0.4), rgba(6, 114, 127, 0.4)), url("../assets/front/images/bg/telegram-coin.jpg");
	overflow: hidden;
	z-index: 9999999999;

	&:before {
		position: absolute;
		content: '';
		width: 875px;
		height: 400%;
		bottom: -100%;
		transform: rotate(45deg);
		background: rgba(255, 255, 255, .1);
		left: 50%;
		margin-left: -130px;
	}
	&:after {
		position: absolute;
		content: '';
		width: 1575px;
		height: 350%;
		bottom: -100%;
		transform: rotate(45deg);
		background: rgba(255, 255, 255, .1);
		right: 50%;
		margin-right: -110px;
	}

	.navbar {
		box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15)
	}

    .navbar-nav {
        >li {
			>a {
				color: #ffffff;
			}
		}
    }

    .navbar-brand {
        height: auto;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0;
        z-index: 6;
        
		img {
			width: auto;
			max-width: 100%;
			max-height: 60px;
		}
	}
	
	.btn {
		margin-top: -10px !important;
		margin-left: 20px;
		padding: 15px 25px !important;
		color: $color-blue !important;
		background-color: #fff !important;
	}
}
.site-header.has-fixed {
    height: 60px !important;
    .navbar {
        background: #e5f0ff;
        border-bottom-color: rgba(0, 0, 0, 0.04);
    }
}
.section-title, .section-title-s8 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	letter-spacing: 0;
	color: $color-title !important;
}
.section-title-s8 {
	margin-bottom: 30px;
}

.footer-salvia {
	width: 100%;
	height: auto;
	background-color: rgba($color: $color-blue, $alpha: .8);
	overflow: hidden;
	z-index: 9999999999;

	h1, h2, h3, h4, h5, h6 {
		color: white !important;
	}
	
	.btn {
		color: $color-blue;
		background-color: #fff;
	}
}
.footer-bottom {
	margin-top: 30px;
	z-index: 999999999999 !important;
}
.footer-list {
	margin: 0 -15px;
	
	&:last-child {
		margin-top: 120px;
		margin-bottom: -70px;
	}
	
	> li {
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0.01em;
		font-weight: 400;
		padding: 0 15px;
		color: #f7fdff;

		a {
			font-weight: 300;
			letter-spacing: 1px;
			color: #f7fdff;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.btn {
	margin-top: -50px;
	padding: 15px 25px !important;
	text-decoration: none !important;
	font-weight: 600 !important;
	border-radius: 50px !important;
}

@media screen and (min-width: 1600px) {
	.section-pad {
		padding-top: 180px;
		padding-bottom: 180px;
	}
	.section-pad-xs {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-pad-sm {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	.section-pad-md {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.section-pad-lg {
		padding-top: 240px;
		padding-bottom: 240px;
	}
	.section-pad.nopd {
		padding-top: 0;
		padding-bottom: 0;
	}
	.image-slice {
		.imagebg {
			width: 42%;
			+ {
				.imagebg {
					width: 58%;
					left: 42%;
				}
			}
		}
	}
}

.support-form {
	* {
		margin: 15px 0;
	}
}

.single-faq {
	ul {
		margin-left: 30px;
		li {
			list-style-type: disc;
		}
	}
}

.d-button {
	width: 250px !important;
	border: 2px solid white !important;
	border-radius: 4px !important;
	background: transparent !important;
	
	&:hover {
		box-shadow: none !important;
		.menu-link {
			color: white !important;
			text-shadow: none !important;
		}
	}
}