    /* FontAwasome */
@font-face {
    font-family: 'FA B';
    src: url('/assets/front/fonts/fa-brands-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FA R';
    src: url('/assets/front/fonts/fa-regular-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FA S';
    src: url('/assets/front/fonts/fa-solid-900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}