@import 'fonts.css';
* {
    margin: 0 !important;
    padding: 0 !important;
}
body {
    color: #fff;
    text-align: center;
}

.result {
    margin: auto !important;
    width: 350px;
    height: auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, .5);

    div {
        margin-top: 10% !important;
        margin-left: 50px !important;
    }

    .info::before {
        width: 150px !important;
        height: 150px !important;
        content: " ";
        margin: auto !important;
        display: inline-block;
        position: relative;
        left: 10px;
        color: #000;
        border-radius: 150px;
        background: rgba(77, 230, 44, .6);
        z-index: 2;
    }
    .info::after {
        content: "\f00c";
        margin: auto !important;
        display: inline-block;
        position: relative;
        top: -40px;
        left: -100px;
        font-family: 'FA S';
        font-size: 80px;
        color: rgba(255, 255, 255, .5);
        z-index: 3;
    }
    .fail::before {
        left: 10px;
        background: rgba(255, 0, 20, .6) !important;
    }
    .fail::after {
        content: "\f00d" !important;
        font-size: 100px;
        top: -35px;
        left: -98px;
    }
    .engine {
        text-align: center;
        font-size: 130px;
        color: rgb(34, 34, 34);
    }
    
    p {
        margin-top: 2% !important;
        font-size: 25px;
        font-weight: 600;
    }
}

.notify {
    width: 50% !important;
    max-height: 80%;

    p {
        color: rgb(211, 60, 49);
        padding: 0 !important;
        margin-top: 40px !important;
    }

    
    span {
        color: rgb(211, 60, 49);
    }
}

.enginenotify {
    width: 50% !important;
    height: 50%;

    p {
        padding: 0 !important;
    }
    p:last-child {
        margin-bottom: 30px;
    }

    
    span {
        color: rgb(211, 60, 49);
    }
}

#clockdiv {
    display: inline-block;
    position: relative;
    margin-top: 0 !important;
    margin-left: -50px !important;
    margin-bottom: 10% !important;
    font-family: sans-serif;
    font-size: 16px;
}