body {
    margin: 0;
    background-image: url('/assets/images/logo/bc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

* {
    font-family: 'Roboto';
}

a {
    color: #558AF2;
    text-decoration: none;
}
h2 {
    color: #000 !important;
}
section {
    width: 100% !important;
    height: auto !important;
    min-height: 600px !important;
}
.navbar-area {
    width: 100%;
    height: 80px;
    background: transparent;
}
.container {
    width: 1100px;
    margin: auto;
}
.logo > img {
    width: 90%;
    height: auto;
    position: relative;
    top: -10px;
    left: 15px;
}
#main-menu {
    position: relative;
    top: 10px;
}
#main-menu a:hover {
    background: rgb(51, 170, 226);
}
form p {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    color: #000;
}
form p.error {
    padding: 0;
    padding-left: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(77, 77, 77);
}
form p.red {
    color: rgb(255, 0, 0)!important; 
} 
input {
    margin-top: -10px;
    border-color: #558AF2 !important;
}
input:focus {
    border: 1px solid rgb(97, 97, 97) !important;
}
button {
    display: block;
    margin: auto !important;
    width: auto;
    padding: 8px 25px;
    text-align: center !important;
    cursor: pointer;
    font-size: 16pt;
    color: rgb(240, 240, 240);
    border-radius: 50px;
    background: rgb(51, 170, 226);
    transition: .5s;
}
button:hover, button:focus {
    background: rgb(2, 235, 215);
}
.contact-form-wrapper {
    padding: 20px 30px 30px 30px !important;
}
.formElementNotify {
    margin: 0;
    position: relative;
    top: -20px;
    left: 20px;
    font-size: 0.8em;
    color: rgb(117, 117, 117);
}

.g-recaptcha {
    text-align: center !important;
    margin-bottom: 15px !important;
}