@import url(/assets/front/css/fonts.css);
body, header {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f7f7f7; }

header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2; }

* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none; }

ul, ol, li {
  margin: 0 !important;
  padding: 0 !important; }

a {
  text-decoration: none; }

.headerBG {
  width: 100%;
  height: 100%;
  background: #2b3643; }
  .headerBG .headerRightPanel {
    width: 220px;
    height: 60px;
    max-height: 60px;
    margin-right: 20px;
    padding: 10px;
    position: relative;
    float: right;
    text-align: right !important; }
    .headerBG .headerRightPanel p {
      text-transform: uppercase;
      font-size: 16px;
      color: #fff;
      line-height: 20px; }
    .headerBG .headerRightPanel p:last-child {
      font-size: 12px;
      color: #dbdbdb; }
  .headerBG .logo {
    width: auto;
    height: 50px;
    margin: 5px 0 0 25px;
    position: absolute;
    z-index: 9; }

.sidebar {
  width: 220px;
  position: fixed;
  padding: 0;
  padding-top: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  background: #37474f; }

.nav {
  width: 100%;
  height: 150px;
  margin: 0; }

.userData {
  color: #cfd8dc;
  background: url(/assets/user/img/profile_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.userData p {
  position: relative;
  margin: 0;
  top: 100px;
  padding-left: 20px;
  color: #cfd8dc; }
.userData span {
  color: #cfd8dc; }

.userLogin {
  margin: 0;
  font-size: 14px;
  color: #949596; }

.userPanel * {
  font-size: 14px;
  color: #cfd8dc;
  line-height: 30px; }

.userPanel {
  text-transform: uppercase;
  color: #2f393d; }

.userPanel li {
  padding-left: 30px !important; }

.userPanel li:hover, .userPanel input:hover {
  cursor: pointer; }

.formButton {
  padding: 5px 20px !important;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .formButton::before {
    content: '\f0ac';
    position: relative;
    top: 1px;
    margin: 0 10px 0 -10px;
    font-family: 'FA S', 'FA R', 'FA B';
    font-size: 18px;
    color: #546e7a;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .formButton:hover {
    background: rgba(111, 136, 150, 0.3); }
  .formButton:hover * {
    color: white; }
  .formButton:hover::before {
    color: white; }

.btn2::before {
  content: '\f3fd';
  left: -2px;
  margin-right: 7px; }

.btn3::before {
  content: '\f007'; }

.btn4::before {
  content: '\f0c0';
  left: -4px;
  margin-right: 4px; }

.btn5::before {
  content: '\f362';
  left: -2px; }

.btn6::before {
  content: '\f0ca';
  left: -2px; }

.btn7::before {
  content: '\f04b';
  left: -2px; }

.btn8::before {
  content: '\f0ca';
  left: -2px;
  margin-right: 8px; }

.btn9::before {
  content: '\f4fe';
  left: -2px;
  margin-right: 2px; }

.btn10::before {
  content: '\f2f5';
  left: -2px;
  margin-right: 6px; }

.btn6, .btn7 {
  display: none; }

.btnPA {
  margin-top: 60px !important;
  background: #3d99e4; }
  .btnPA * {
    color: white; }
  .btnPA::before {
    content: '\f007';
    color: white; }
  .btnPA:hover {
    background: #3d99e4; }

.btnAdminPanel {
  margin-top: 60px !important;
  background-color: #f44336; }
  .btnAdminPanel * {
    color: white; }
  .btnAdminPanel::before {
    content: '\f085';
    left: -5px;
    margin-right: 2px;
    color: white; }
  .btnAdminPanel:hover {
    background-color: #f44336; }

.activeButton, .activeButton:hover {
  color: white;
  background: rgba(111, 136, 150, 0.8); }

.activeButton a {
  color: white !important; }

.activeButton::before {
  color: white !important; }

/* SIDEBAR DROPDOWN */
.dropD {
  margin: 0;
  padding: 0;
  color: #cfd8dc;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent; }

.dropDC {
  position: relative;
  margin-left: -30px !important; }
  .dropDC .dropContent {
    cursor: default;
    background: #232e33; }
  .dropDC .ml, .dropDC .fc {
    width: 86% !important;
    height: auto;
    min-height: 30px;
    line-height: 25px;
    margin: auto !important;
    background: rgba(26, 34, 37, 0.8); }
    .dropDC .ml button[name="ml_submit"], .dropDC .fc button[name="ml_submit"] {
      width: 100%;
      margin: 0;
      padding: 5px 0;
      font-size: 12px;
      text-align: center;
      border: none;
      outline: none;
      border-radius: none;
      background: none;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .dropDC .ml button[name="ml_submit"]:hover, .dropDC .ml button[name="ml_submit"]:focus, .dropDC .ml button[name="ml_submit"][selected], .dropDC .fc button[name="ml_submit"]:hover, .dropDC .fc button[name="ml_submit"]:focus, .dropDC .fc button[name="ml_submit"][selected] {
        cursor: pointer;
        color: white;
        background: rgba(111, 136, 150, 0.2); }
      .dropDC .ml button[name="ml_submit"][selected], .dropDC .fc button[name="ml_submit"][selected] {
        background: #35b848; }
      .dropDC .ml button[name="ml_submit"][selected]:focus, .dropDC .fc button[name="ml_submit"][selected]:focus {
        background: rgba(111, 136, 150, 0.2); }
  .dropDC .fc {
    width: 100% !important; }
    .dropDC .fc ul li {
      padding: 5px 20px !important;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .dropDC .fc ul li:hover, .dropDC .fc ul li:focus, .dropDC .fc ul li[selected] {
        cursor: pointer;
        color: white;
        background: rgba(111, 136, 150, 0.2); }
      .dropDC .fc ul li a {
        display: block;
        width: 100%;
        height: 100%; }

#content {
  position: relative;
  height: auto;
  min-height: 300px;
  top: 90px;
  margin-left: 250px;
  margin-right: 30px;
  overflow: hidden; }

/*.goog-te-combo * {
    min-width: 50px !important;
    max-width: 80% !important;
}*/
/*--- CONTENT ---*/
input:hover, i:hover {
  cursor: pointer; }

.hr {
  width: 100%;
  height: 1px;
  background: rgba(192, 196, 198, 0.4); }

.dark h2 {
  background: #2b363c !important; }
.dark .defButton {
  padding: 5px 15px;
  outline: none;
  color: #575757;
  border-radius: 3px;
  border: 1px solid rgba(161, 168, 172, 0.5);
  background: whitesmoke;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .dark .defButton:hover {
    cursor: pointer;
    color: #353535;
    background: #e7e7e7; }

.blue h2 {
  background: #2196f3 !important; }

.secondSection {
  margin-top: 20px !important; }

.lastSection {
  margin-bottom: 20px; }

.minWindth300 {
  min-width: 300px !important; }

.minWindth350 {
  min-width: 350px !important; }

.minWindth400 {
  min-width: 400px !important; }

.minWindth450 {
  min-width: 450px !important; }

.minWindth500 {
  min-width: 500px !important; }

.minWindth650 {
  min-width: 650px !important; }

.maxWidth1600 {
  max-width: 1600px !important; }

.halfMainSection {
  width: 680px !important;
  max-width: 680px !important;
  min-width: 250px !important; }

.halfMainSmallSection {
  width: 500px !important;
  max-width: 500px !important;
  min-width: 250px !important; }

.inlineFlexContent > div {
  display: inline-flex; }

.flexContent {
  display: flex;
  justify-content: space-around; }

.inlineSection {
  display: inline-block;
  position: relative;
  margin-right: 30px; }

.tac, .tac * {
  text-align: center !important; }

.tal * {
  text-align: left !important; }

.h20 {
  height: 20px;
  width: 0; }

.h30 {
  height: 30px;
  width: 0; }

.bdtb {
  border-top: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important; }

form p.error, .error {
  padding: 0;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300 !important;
  color: #4d4d4d; }

form p.red, .red {
  color: red !important; }

form p.green, .green {
  color: #089108 !important; }

input:focus, select:focus {
  outline: none !important;
  border-color: #616161 !important; }

input {
  width: 99%;
  max-width: 100%;
  min-width: 150px;
  height: 35px;
  margin: 0;
  margin-top: 10px;
  padding: 5px 14px;
  color: #575757 !important;
  border: 1px solid rgba(192, 196, 198, 0.7);
  border-radius: 3px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  input[type="text"]:hover {
    cursor: text; }

.howt {
  position: relative;
  display: inline-block;
  float: right; }
  .howt:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }

.how {
  margin: 19px 0 0 15px; }
  .how:hover {
    cursor: help; }
  .how::before {
    content: '\f129';
    font-family: 'FA S';
    color: #252525; }

.howt .tooltiptext {
  visibility: hidden;
  min-width: 180px;
  width: auto;
  position: absolute;
  bottom: 130%;
  left: 50%;
  margin-left: -75px;
  margin-bottom: 10px;
  padding: 5px;
  color: #575757 !important;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgba(192, 196, 198, 0.7);
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.incSection {
  width: 100%;
  height: auto;
  min-height: 80px;
  font-size: 12px;
  border: 1px solid rgba(192, 196, 198, 0.7);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white; }
  .incSection:last-child {
    margin-bottom: 30px; }
  .incSection h2 {
    width: 100%;
    height: 40px;
    font-size: 14px !important;
    font-weight: 500;
    word-break: normal !important;
    color: #fff;
    padding: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #fff; }
  .incSection h2:hover {
    cursor: default; }
  .incSection .incSectionContent {
    width: 100%;
    height: auto;
    padding: 15px; }
  .incSection .halfSection {
    width: auto;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    min-height: 200px;
    max-height: 500px;
    margin: 0 20px 20px 20px; }
  .incSection .buttonBuy {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 3px 3px rgba(192, 196, 198, 0.4);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .incSection .blueButton {
    background: #2196f3 !important; }
    .incSection .blueButton:hover, .incSection .blueButton:focus {
      cursor: pointer !important;
      background: #4aacf7 !important; }
    .incSection .blueButton:active {
      box-shadow: 0 1px 8px 5px rgba(192, 196, 198, 0.7); }
  .incSection .bigButton {
    display: block;
    width: 100% !important;
    min-width: 120px !important;
    line-height: 25px !important; }
  .incSection .smallButton {
    width: 50px; }
  .incSection a[class="buttonBuy blueButton bigButton tac"] {
    padding: 10px 175px !important; }

/*-- ICO Calender BOX CONTENT --*/
.icoLoadBox {
  width: 100%;
  height: auto;
  border: 1px solid rgba(192, 196, 198, 0.4);
  border-radius: 3px; }
  .icoLoadBox p {
    line-height: 40px;
    color: #616161; }
    .icoLoadBox p span {
      margin-left: 5px;
      font-weight: bold;
      color: #626262; }

/*-- PROCESS BAR --*/
.processBar {
  width: 96%;
  padding: 0 !important; }
  .processBar .w3-light-grey {
    width: 100%;
    margin: 10px;
    border-radius: 3px;
    background: #e0e0e0; }
    .processBar .w3-light-grey .w3-container {
      height: 20px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .processBar .w3-light-grey .w3-light-grey {
      background-color: #f1f1f1 !important; }
    .processBar .w3-light-grey .w3-green {
      background-color: #009688 !important; }
  .processBar .progessBarSoldPresent {
    padding: 0 !important;
    font-size: 12px;
    color: #4b93db; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content/Box */
  /* Add Zoom Animation */ }
  .modal .modal-content {
    display: block;
    width: 450px;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    background-color: #fefefe;
    /* The Close Button */
    /* Close button on hover */ }
    .modal .modal-content #error {
      padding: 0 15px; }
    .modal .modal-content p {
      margin: 15px;
      margin-bottom: 0;
      font-size: 14px;
      text-align: center !important;
      color: #2c2c2c !important; }
    .modal .modal-content .pm {
      width: 100%;
      padding: 5px 30px;
      font-family: 'Roboto';
      text-align: right !important; }
      .modal .modal-content .pm span {
        color: #2c2c2c !important; }
      .modal .modal-content .pm #it {
        display: inline-block;
        position: relative;
        min-width: 65px;
        width: auto;
        height: 30px;
        top: 10px;
        margin: 0 3px;
        padding: 3px 10px;
        line-height: 23px;
        color: #000;
        overflow: hidden;
        border: 1px solid #c0c4c6;
        border-radius: 3px; }
    .modal .modal-content .sumLabel {
      margin: 25px 0 20px 15px;
      width: 80%;
      height: 30px;
      line-height: 30px;
      padding: 3px;
      padding-left: 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 14px;
      color: #000;
      border: 1px solid #c0c4c6;
      border-radius: 3px; }
      .modal .modal-content .sumLabel:hover {
        cursor: text; }
      .modal .modal-content .sumLabel:focus {
        outline: none !important;
        border-color: #616161 !important; }
    .modal .modal-content .payButton {
      font-weight: bold; }
    .modal .modal-content .close {
      display: block;
      position: relative;
      margin-bottom: 60px;
      width: 40px;
      height: 40px;
      float: right;
      right: 0;
      top: 0;
      line-height: 40px;
      text-align: center !important;
      color: #000;
      font-size: 35px;
      font-weight: bold;
      background: rgba(0, 0, 0, 0); }
    .modal .modal-content .close:hover,
    .modal .modal-content .close:focus {
      color: #fefefe;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5); }
    .modal .modal-content .cancelbtn, .modal .modal-content .payButton {
      width: auto;
      margin: 10px;
      padding: 10px 18px;
      border: none;
      outline: none;
      color: #fff !important;
      text-align: center !important;
      cursor: pointer;
      background-color: #f44336;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .modal .modal-content .cancelbtn:hover {
      opacity: 0.8; }
  .modal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s; }
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
/*-- GRAM Wallet Addresses BOX CONTENT --*/
.plusNewWallet {
  display: inline-block;
  position: relative;
  top: -30px;
  right: 15px;
  float: right;
  padding-left: 10px;
  border-radius: 2px;
  background: #ff9800; }
  .plusNewWallet i {
    color: #fff; }
  .plusNewWallet input {
    margin: 0;
    padding: 4px 3px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border: none;
    background: none; }

/*Connected to REFERER SYSTEM Section && TRANSACTION section && LENDING Section && PURCHASE Section*/
.walletsThreeSections, .referersSection, .transactionSection,
.lendingSection, .purchaseSection, .userDatasSecondSection {
  display: flex;
  justify-content: space-around; }
  .walletsThreeSections .allWalletThreeSection, .walletsThreeSections .refererFourSection, .walletsThreeSections .transactionSixSection,
  .walletsThreeSections .lendingSixSection, .walletsThreeSections .purchaseSixSection, .walletsThreeSections .userDatasFourSection, .referersSection .allWalletThreeSection, .referersSection .refererFourSection, .referersSection .transactionSixSection,
  .referersSection .lendingSixSection, .referersSection .purchaseSixSection, .referersSection .userDatasFourSection, .transactionSection .allWalletThreeSection, .transactionSection .refererFourSection, .transactionSection .transactionSixSection,
  .transactionSection .lendingSixSection, .transactionSection .purchaseSixSection, .transactionSection .userDatasFourSection,
  .lendingSection .allWalletThreeSection,
  .lendingSection .refererFourSection,
  .lendingSection .transactionSixSection,
  .lendingSection .lendingSixSection,
  .lendingSection .purchaseSixSection,
  .lendingSection .userDatasFourSection, .purchaseSection .allWalletThreeSection, .purchaseSection .refererFourSection, .purchaseSection .transactionSixSection,
  .purchaseSection .lendingSixSection, .purchaseSection .purchaseSixSection, .purchaseSection .userDatasFourSection, .userDatasSecondSection .allWalletThreeSection, .userDatasSecondSection .refererFourSection, .userDatasSecondSection .transactionSixSection,
  .userDatasSecondSection .lendingSixSection, .userDatasSecondSection .purchaseSixSection, .userDatasSecondSection .userDatasFourSection {
    width: 33.3%;
    height: auto;
    min-height: 30px;
    position: relative; }
    .walletsThreeSections .allWalletThreeSection p:first-child, .walletsThreeSections .refererFourSection p:first-child, .walletsThreeSections .transactionSixSection p:first-child,
    .walletsThreeSections .lendingSixSection p:first-child, .walletsThreeSections .purchaseSixSection p:first-child, .walletsThreeSections .userDatasFourSection p:first-child, .referersSection .allWalletThreeSection p:first-child, .referersSection .refererFourSection p:first-child, .referersSection .transactionSixSection p:first-child,
    .referersSection .lendingSixSection p:first-child, .referersSection .purchaseSixSection p:first-child, .referersSection .userDatasFourSection p:first-child, .transactionSection .allWalletThreeSection p:first-child, .transactionSection .refererFourSection p:first-child, .transactionSection .transactionSixSection p:first-child,
    .transactionSection .lendingSixSection p:first-child, .transactionSection .purchaseSixSection p:first-child, .transactionSection .userDatasFourSection p:first-child,
    .lendingSection .allWalletThreeSection p:first-child,
    .lendingSection .refererFourSection p:first-child,
    .lendingSection .transactionSixSection p:first-child,
    .lendingSection .lendingSixSection p:first-child,
    .lendingSection .purchaseSixSection p:first-child,
    .lendingSection .userDatasFourSection p:first-child, .purchaseSection .allWalletThreeSection p:first-child, .purchaseSection .refererFourSection p:first-child, .purchaseSection .transactionSixSection p:first-child,
    .purchaseSection .lendingSixSection p:first-child, .purchaseSection .purchaseSixSection p:first-child, .purchaseSection .userDatasFourSection p:first-child, .userDatasSecondSection .allWalletThreeSection p:first-child, .userDatasSecondSection .refererFourSection p:first-child, .userDatasSecondSection .transactionSixSection p:first-child,
    .userDatasSecondSection .lendingSixSection p:first-child, .userDatasSecondSection .purchaseSixSection p:first-child, .userDatasSecondSection .userDatasFourSection p:first-child {
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      color: #616161;
      border: none;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      background: whitesmoke; }
    .walletsThreeSections .allWalletThreeSection p, .walletsThreeSections .refererFourSection p, .walletsThreeSections .transactionSixSection p,
    .walletsThreeSections .lendingSixSection p, .walletsThreeSections .purchaseSixSection p, .walletsThreeSections .userDatasFourSection p, .referersSection .allWalletThreeSection p, .referersSection .refererFourSection p, .referersSection .transactionSixSection p,
    .referersSection .lendingSixSection p, .referersSection .purchaseSixSection p, .referersSection .userDatasFourSection p, .transactionSection .allWalletThreeSection p, .transactionSection .refererFourSection p, .transactionSection .transactionSixSection p,
    .transactionSection .lendingSixSection p, .transactionSection .purchaseSixSection p, .transactionSection .userDatasFourSection p,
    .lendingSection .allWalletThreeSection p,
    .lendingSection .refererFourSection p,
    .lendingSection .transactionSixSection p,
    .lendingSection .lendingSixSection p,
    .lendingSection .purchaseSixSection p,
    .lendingSection .userDatasFourSection p, .purchaseSection .allWalletThreeSection p, .purchaseSection .refererFourSection p, .purchaseSection .transactionSixSection p,
    .purchaseSection .lendingSixSection p, .purchaseSection .purchaseSixSection p, .purchaseSection .userDatasFourSection p, .userDatasSecondSection .allWalletThreeSection p, .userDatasSecondSection .refererFourSection p, .userDatasSecondSection .transactionSixSection p,
    .userDatasSecondSection .lendingSixSection p, .userDatasSecondSection .purchaseSixSection p, .userDatasSecondSection .userDatasFourSection p {
      height: 40px;
      line-height: 40px;
      color: #000;
      border-bottom: 1px solid #e0e0e0; }
    .walletsThreeSections .allWalletThreeSection p:last-child, .walletsThreeSections .refererFourSection p:last-child, .walletsThreeSections .transactionSixSection p:last-child,
    .walletsThreeSections .lendingSixSection p:last-child, .walletsThreeSections .purchaseSixSection p:last-child, .walletsThreeSections .userDatasFourSection p:last-child, .referersSection .allWalletThreeSection p:last-child, .referersSection .refererFourSection p:last-child, .referersSection .transactionSixSection p:last-child,
    .referersSection .lendingSixSection p:last-child, .referersSection .purchaseSixSection p:last-child, .referersSection .userDatasFourSection p:last-child, .transactionSection .allWalletThreeSection p:last-child, .transactionSection .refererFourSection p:last-child, .transactionSection .transactionSixSection p:last-child,
    .transactionSection .lendingSixSection p:last-child, .transactionSection .purchaseSixSection p:last-child, .transactionSection .userDatasFourSection p:last-child,
    .lendingSection .allWalletThreeSection p:last-child,
    .lendingSection .refererFourSection p:last-child,
    .lendingSection .transactionSixSection p:last-child,
    .lendingSection .lendingSixSection p:last-child,
    .lendingSection .purchaseSixSection p:last-child,
    .lendingSection .userDatasFourSection p:last-child, .purchaseSection .allWalletThreeSection p:last-child, .purchaseSection .refererFourSection p:last-child, .purchaseSection .transactionSixSection p:last-child,
    .purchaseSection .lendingSixSection p:last-child, .purchaseSection .purchaseSixSection p:last-child, .purchaseSection .userDatasFourSection p:last-child, .userDatasSecondSection .allWalletThreeSection p:last-child, .userDatasSecondSection .refererFourSection p:last-child, .userDatasSecondSection .transactionSixSection p:last-child,
    .userDatasSecondSection .lendingSixSection p:last-child, .userDatasSecondSection .purchaseSixSection p:last-child, .userDatasSecondSection .userDatasFourSection p:last-child {
      border: none; }

form.walletsSection li {
  display: inline-block; }
  form.walletsSection li .fa-plus, form.walletsSection li .fa-upload, form.walletsSection li .fa-download {
    font-size: 12px;
    margin: 0 -10px 0 15px; }
  form.walletsSection li input {
    margin: 0;
    padding: 0;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    background: none; }
form.walletsSection li:last-child {
  float: right; }

/* PROFILE SECTION */
.gridcontent .gridSection {
  display: inline-flex; }
.gridcontent .sL {
  min-width: 800px;
  max-width: 60%;
  width: 60%;
  margin-right: 20px; }
.gridcontent .sR {
  min-width: 400px;
  max-width: 38%;
  width: 38%; }

.gridcontent1 {
  display: grid;
  /*justify-content: center;*/
  grid-template-columns: repeat(auto-fill, 800px 1fr);
  grid-gap: 20px; }

.gridSection1 {
  min-height: 150px;
  background: red; }

.sL1 {
  min-width: 800px;
  max-width: 800px; }

.sR1 {
  min-width: 300px;
  max-width: 400px;
  background: #000; }

.userProfileSectionContent form {
  width: 100%;
  min-width: 600px;
  padding: 10px; }
  .userProfileSectionContent form .userprofileSectionContent {
    display: inline-block;
    position: relative;
    margin: 0;
    margin-right: 10px; }
  .userProfileSectionContent form p {
    font-size: 18px;
    font-weight: normal;
    color: #212121; }
  .userProfileSectionContent form p:hover {
    cursor: default; }
  .userProfileSectionContent form .userDatasSection {
    display: inline-block;
    max-width: 100%;
    width: 99%;
    min-width: 200px; }
    .userProfileSectionContent form .userDatasSection input:hover {
      cursor: default; }
    .userProfileSectionContent form .userDatasSection input:focus, .userProfileSectionContent form .userDatasSection select:focus {
      outline: none !important;
      border-color: #616161 !important; }
    .userProfileSectionContent form .userDatasSection .formElement {
      margin: 0;
      margin-bottom: 15px;
      padding-left: 25px; }
      .userProfileSectionContent form .userDatasSection .formElement p {
        font-size: 18px;
        font-weight: normal;
        color: #212121; }
      .userProfileSectionContent form .userDatasSection .formElement input, .userProfileSectionContent form .userDatasSection .formElement select {
        width: 99%;
        max-width: 100%;
        min-width: 150px;
        height: 35px;
        margin: 0;
        margin-top: 10px;
        padding: 5px 14px;
        color: #575757 !important;
        border: 1px solid rgba(192, 196, 198, 0.7);
        border-radius: 3px; }
      .userProfileSectionContent form .userDatasSection .formElement input:hover {
        cursor: text; }
  .userProfileSectionContent form button[name="submit"] {
    line-height: 25px !important;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: normal;
    border: none; }

/* REFERAL SYSTEM SECTION */
.clipboardSection input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  font-size: 16px;
  color: #9d9d9d;
  cursor: text;
  border: 1px solid rgba(192, 196, 198, 0.7);
  border-radius: 3px;
  background: #ececec; }
.clipboardSection button {
  display: inline-block;
  position: relative;
  top: -50px;
  min-width: 45px;
  width: auto;
  height: 50px;
  padding: 15px;
  line-height: 10x;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #2196f3;
  box-shadow: 0 1px 2px 1px rgba(192, 196, 198, 0.4);
  z-index: 2; }
.clipboardSection button:hover {
  cursor: pointer;
  background: #4aaaf7;
  box-shadow: 0 1px 5px 1px rgba(192, 196, 198, 0.7); }
.clipboardSection .tooltip {
  position: relative;
  display: inline-block;
  float: right; }
.clipboardSection .tooltip .tooltiptext {
  visibility: hidden;
  min-width: 140px;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
.clipboardSection .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }
.clipboardSection .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.referersSection .refererFourSection {
  width: 25% !important;
  padding: 0; }

.userDatasSecondSection {
  border-bottom: 1px solid #e0e0e0; }
  .userDatasSecondSection .userDatasFourSection {
    width: 25% !important;
    padding: 0; }
    .userDatasSecondSection .userDatasFourSection p {
      font-weight: normal !important;
      color: #000 !important;
      background: none !important; }

.userDatasSecondSection:last-child {
  border: none !important; }

.refcounter, .trcounter {
  width: auto;
  min-width: 50px;
  max-width: 250px;
  margin: 30px 0 0 20px;
  padding-left: 15px;
  display: flex;
  color: #9d9d9d;
  border: 1px solid rgba(192, 196, 198, 0.7);
  border-radius: 3px;
  background: #ececec; }
  .refcounter p:first-child, .trcounter p:first-child {
    font-size: 16px; }
  .refcounter p, .trcounter p {
    margin-right: 15px;
    font-size: 18px;
    line-height: 40px;
    cursor: default; }
  .refcounter p::selection, .trcounter p::selection {
    color: #9d9d9d;
    background: none; }

/* TRANSACTION SECTION Connected to LENDING Section */
.transactionSixSection, .lendingSixSection, .purchaseSixSection {
  width: 16.7% !important; }

.pm {
  width: 100%;
  padding: 5px 30px;
  font-family: 'Roboto';
  text-align: right !important; }
  .pm span {
    color: #2c2c2c !important; }
  .pm #it {
    display: inline-block;
    position: relative;
    min-width: 65px;
    width: auto;
    height: 30px;
    top: 10px;
    margin: 0 3px;
    padding: 3px 10px;
    line-height: 23px;
    color: #000;
    overflow: hidden;
    border: 1px solid #c0c4c6;
    border-radius: 3px; }

/* LENDING SECTION*/
.icoLoadBox p:last-child {
  padding: 15px; }

/* PURCASE SECTION */
.purchase {
  overflow: auto;
  /* Enable scroll if needed */
  /* Modal Content/Box */ }
  .purchase .modal-content #error {
    padding: 0 15px; }
  .purchase .modal-content p {
    margin: 15px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center !important;
    color: #2c2c2c !important; }
  .purchase .modal-content .pm {
    width: 100%;
    padding: 5px 30px;
    font-family: 'Roboto';
    text-align: right !important; }
    .purchase .modal-content .pm span {
      color: #2c2c2c !important; }
    .purchase .modal-content .pm #it {
      display: inline-block;
      position: relative;
      min-width: 65px;
      width: auto;
      height: 30px;
      top: 10px;
      margin: 0 3px;
      padding: 3px 10px;
      line-height: 23px;
      color: #000;
      overflow: hidden;
      border: 1px solid #c0c4c6;
      border-radius: 3px; }
  .purchase .modal-content .sumLabel {
    margin: 25px 0 20px 15px;
    width: 80%;
    height: 30px;
    line-height: 30px;
    padding: 3px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #000;
    border: 1px solid #c0c4c6;
    border-radius: 3px; }
    .purchase .modal-content .sumLabel:hover {
      cursor: text; }
    .purchase .modal-content .sumLabel:focus {
      outline: none !important;
      border-color: #616161 !important; }
  .purchase .modal-content .payButton {
    width: auto;
    margin: 10px;
    padding: 10px 18px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff !important;
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

/* SETTINGS Section */
.settingsFormElement {
  margin: 0;
  margin-bottom: 15px; }
  .settingsFormElement p {
    font-size: 13px;
    font-weight: bold;
    color: #282828; }
  .settingsFormElement input {
    width: 99%;
    max-width: 100%;
    min-width: 150px;
    height: 35px;
    margin: 0;
    margin-top: 5px;
    padding: 5px 14px;
    color: #555555 !important;
    border: 1px solid rgba(192, 196, 198, 0.7);
    border-radius: 3px; }
  .settingsFormElement input:hover {
    cursor: text; }
  .settingsFormElement input:focus {
    outline: none;
    border-color: #616161 !important; }

.settingsButton {
  border: none; }

.userotherDatas {
  font-size: 16px;
  color: #212121; }
  .userotherDatas p {
    margin: 10px; }
    .userotherDatas p span {
      font-weight: bold; }

/*# sourceMappingURL=home.css.map */
